.float-left() {
	float:left;
}
.float-right() {
	float:right;
}
.no-display {
	display:none;
}
.centered-text{
	text-align: center;
}
.border-radius(@value) {
	border-radius:@value;
}
.centered-block(@top-margin:0) {
	margin:@top-margin auto;
}
.transition(@property:all;@time:0.5s;@function:ease-in-out) {
	-moz-transition:@property @time @function;
	-webkit-transition:@property @time @function;
	transition:@property @time @function;
}
.resetpadding(@value:0){
	padding:@value;
}
.resetmargin(@value:0){
	margin: @value;
}
.square(@value) {
	width:@value;
	height:@value;
}
.fa() {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}
.centered-padding(@value){
	padding-left:@value;
	padding-right:@value;
}
.middle-padding(@value){
	padding-top:@value;
	padding-bottom:@value;
}