//header,menu etc.
.main-menu {
	background-color:transparent; 
}
#menu-main-menu-nav {
	>li {
		&>a:focus,&>a:hover {
			background-color: transparent;
		}
		position: relative;
		.sub-menu {
			.centered-text();
			display:none;
			position: absolute;
			left:0;
			padding:0 15px;
			background-color: @gray-lighter;
			 min-width: 100%;
			 >li {
			 	.middle-padding(3px);
			 }
		}
		.sub-menu.over {
			display:block;
		}
	}
}
.top-bar {
	background-color: #fff;
	.col-md-9 {
		padding:0;
	}
	.blogname {
		font-size: 16px;
		font-weight:600;
		padding:14px 0;
		.centered-text();
		a {
			color:@main-color;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.sns-link {
	>a {
		display: block;
		float:left;
		width:25%;
		height:50px;
		.centered-text();
		i {
			font-size:20px;
			line-height: 50px;
		}
	}
}
.search-bar {
	.float-left();
	.form-group {
		display: inline-block;
  		margin-bottom: 0;
  		vertical-align: middle;
	}
	.search-icon {
		.centered-block(10px);
		.border-radius(50%);
		background-color: @gray-darker;
		height:30px;
		width:30px;
		.centered-text();
		position: relative;
		i.fa {
			color:white;
			line-height: 30px;
			cursor: pointer;
		}
	}
	.search-toggle {
		&.show{
			opacity: 1;
		}
		.transition(opacity,0.3s);
		opacity: 0;
		z-index: @z-index-init+1;
		position: absolute;
	  	width: auto;
	  	right: 0;
	  	min-width: 255px;
	}
}
.hover-navbar {
	display: none;
}
.col-xs-3.search-bar {
	.float-right();
}
@media (min-width:@screen-sm) {
	.navbar-header,.navbar-mobile {
		.no-display();
	}
	.hover-navbar {
		display: block;
	}
	.search-bar {
		.float-right();
	}
}

.navbar-toggle {
	border-color:@gray-dark;
	transform:rotate(90deg);
	.square(22px);
	box-sizing:content-box;
	.resetpadding(5px);
	&.collapsed {
		transform:rotate(0deg);
	}
	.icon-bar {
		background-color: @gray-dark;
	}
}
.navbar-mobile {
	max-height: 0px;
	overflow: hidden;
	.transition();
	&.show {
		max-height: 1000px;
	}
	.nav>li>a:hover, .nav>li>a:focus {
		background-color: transparent;
		color:inherit;
	}
	.mobile-menu >ul {
		margin:0 -15px;
		.menu-item-has-children>a::after {
			content: "\f0d7";
  			margin-left: 5px;
  			.fa();
		}
	}
	.sub-menu {
		.no-display();
		padding-left:20px;
		&.show {
			display: block;
		}
	}	
}

//headline only appears on the front page
.front-headline {
	.middle-padding(10px);
}
.featured-posts {
	background-color: white;
	padding-bottom: 20px;
	h2 {
		.centered-padding(15px);
		.centered-text();
	}
	.post-content {
		border-left:3px solid @main-color;
		position: relative;
		.read-more {
			color:hsl(0,100%,60%);
			position: absolute;
			bottom:5px;
			right:15px;
		}
	}
	.post-info {
		position: relative;
		.post-catergory {
			background-color: @main-color;
			color:@gray-lighter;
			display: inline-block;
			.centered-padding(10px);
		}
		.post-tags {
			margin-top:15px;
			ul {
				.resetpadding();
			}
			li {
				.centered-text;
				display: inline-block;
				margin: 5px;
				text-transform: capitalize;
			}
		}
	}
}
.jslide-outside {
    overflow:hidden;
}
.jslide-item {
    float: left;
    box-sizing:border-box;
}
.jslide-container {
    box-sizing:border-box;
    width:10000px; /*to keep the layout from broken in case of slow load*/
}
.jslide {
    position:relative;
}
.jslide-control { 
	cursor: pointer;
    position:absolute;
    width:20px;
    height:250px;
    .middle-padding(115px);
    &.nomore {
    	color:darken(@gray-lighter, 30%);
    }
    .fa {
    	font-size: 20px
    }
}
.jslide-control.left {
    left:0;
}
.jslide-control.right {
    right:0;
}

//main content area
.featured-image img {
	.img-responsive();
}
